/*登录框*/
#gray{width:100%;height:100%;background:rgba(0,0,0,0.2);position:fixed;top:0px;z-index:99999; display:none;}
.popup{width:410px; height:auto; background-color:#fff; position:absolute; z-index:999999; left:400px; top:96px; box-shadow:0 2px 5px rgba(34,25,25,.4); -moz-box-shadow:0 2px 5px rgba(34,25,25,.4); -webkit-box-shadow:0 2px 5px rgba(34,25,25,.4); display:none;}
.popup .top_nav{width:100%; height:50px; border-bottom:1px solid #e9e9e9; position:relative; cursor:move;}
.top_nav span{line-height:50px; color:#010101; font-size:18px; padding-left:30px;}
.top_nav .guanbi{width:20px; height:20px; float:right; display:inline-block; margin:15px 30px 0 0; background:url(../images/login-close.png) no-repeat;}
.top_nav .guanbi:hover{background:url(../images/login-close-on.png) no-repeat;}
.login-box{padding:20px 30px 40px 30px;}
.login-box .register{text-align:right; margin-bottom:24px;}
.login-box .register a{color:#2075b7; font-size:14px;}
.username-con, .password-con, .login-captcha{position:relative;}
.username-con i, .password-con i, .login-captcha i{width:16px; height:19px; display:block; position:absolute; left:11px; background:url(../images/login-icon.png) no-repeat;}
.username-con i{top:12px; background-position:-5px -7px;}
.password-con i{top:11px; background-position:-5px -84px;}
.login-box .login-input, .login-box .password-input{width:100%; border:1px solid #b5b5b5; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; line-height:40px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; color:#777; font-size:14px; margin-bottom:17px; text-indent:40px; box-shadow: inset 0 -1px rgba(34,25,25,.15),0 -1px rgba(255,255,255,.8); -moz-box-shadow: inset 0 -1px rgba(34,25,25,.15),0 -1px rgba(255,255,255,.8); -webkit-box-shadow: inset 0 -1px rgba(34,25,25,.15),0 -1px rgba(255,255,255,.8);}
.login-box .login-input:focus{border:1px solid #7dabdf;}
.login-box .password-input:focus{border:1px solid #7dabdf;}
.next-day{color:#333; font-size:14px; float:left;}
.login-checkbox{vertical-align:top; margin-right:5px;}
.login-rem a{color:#2075b7; font-size:14px; float:right;}
.login-box .login-btn{width:100%; background-color:#ef3838; font-size:14px; color:#fff; line-height:40px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; margin-top:13px; cursor:pointer;}
.login-box .login-btn:hover{background-color:#f94d4d;}
.quick{border-top:1px solid #e9e9e9; padding:20px 30px;}
.quick{color:#777777; font-size:14px;}
.quick .quick-list{margin-top:15px; width:100%;}
.quick .quick-list a{width:36px; height:36px; display:inline-block; border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%; margin-right:15px;}
.quick-list .quick-qq{background:url(../images/quick-qq.png) #68a5e1 no-repeat;}
.quick-list .quick-tx{background:url(../images/quick-tx.png) #38a6d7 no-repeat;}
.quick-list .quick-sina{background:url(../images/quick-sina.png) #f56467 no-repeat;}
.quick .quick-list a:hover{opacity:0.7;}

.header-r .login-user{float:left; line-height:30px; margin-left:20px; padding-right:14px; color:#979797; font-size:12px; position:relative; cursor:pointer;}
.header-r .login-user a{z-index:4; position:relative; display:inline-block;}
.header-r .login-user img{width:30px; height:30px; float:left; margin-right:5px; border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%;}
.header-r .login-user:before{z-index:4; content:''; position:absolute; display:inline-block; width:6px; height:5px; right:0; top:14px; background:url(../images/login-user.png) no-repeat;}
.user-child{display:none; top:15px; width:100%; background-color:rgba(255,255,255,0.9); position:absolute; padding:16px 0 8px; z-index:3; box-shadow:0 2px 5px rgba(34,25,25,.4); -moz-box-shadow:0 2px 5px rgba(34,25,25,.4); -webkit-box-shadow:0 2px 5px rgba(34,25,25,.4);}
.header-r .login-user:hover .user-child{display:block;}
.user-child a{width:100%; display:block; line-height:24px; text-align:center; font-size:14px;}

.quick-list img{display:none;}